.testimonials {
  width: 100%;
}

.testimonialsContainer {
  width: 1240px;
  margin: 4rem auto;
  padding: 4rem 0rem;
}

.testimonials h2 {
  font-size: 3rem;
  text-align: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 4rem 0;
}

.card {
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 1rem;
}

.card img {
  border-radius: 50px;
  margin-top: -2rem;
}

.card p {
  color: var(--grey);
  font-size: 1.1rem;
  margin: 12px;
}

.card span {
  color: var(--secondary-dark);
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 940px) {
  .testimonialsContainer {
    width: 100%;
  }

  .content {
    grid-template-columns: 1fr;
  }

  .card {
    max-width: 100%;
    margin: 1rem;
  }
}
